#root > nav > ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

html{
  background-image: linear-gradient(white,rgb(255, 62, 88), rgb(255, 0, 64));
}

#root > nav > ul > a:nth-child(1){
  display: block;
  color: white;
  font-family: 'Nunito', sans-serif
  ;
}

#Products > div:nth-child(3){
border-top: 2px solid gray
}

#root > div:nth-child(3) > h3{
  color: white;
  background-color: rgb(255, 0, 76);
  max-width: 110px;
  text-align: center;
  border-radius: 5px;
}

#Products > div > h3{
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: rgb(255, 0, 76);
  max-width: 110px;
  text-align: center;
  border-radius: 5px;
}

#root > nav > ul > a:nth-child(2){
  display: block;
  color: white;
  font-family: 'Nunito', sans-serif;
}

#root > nav > ul > a:nth-child(3){
  display: block;
  color: white;
  font-family: 'Nunito', sans-serif;
}

#root > nav > ul > a:nth-child(4){
  display: block;
  color: white;
  font-family: 'Nunito', sans-serif;
}

#root > nav > ul > a:nth-child(5){
  display: block;
  color: white;
  font-family: 'Nunito', sans-serif;
}

#search{
  border-radius: 30px;
}

#root > nav > i.fas.fa-shopping-cart{
  color: white;
}

.Shop > img{
  width: 200px;
  height:200px;
}

#Products{
  background-color: white;
  border-radius: 5px;
}

#root > img{
  width: 300px;
  height:200px;
}

#root > div{
  margin: 2px;
  border: 3px solid black;
  font-family: 'Sansita Swashed', cursive;
  color:rgb(255, 1, 77)
}

/* #root > header > h1{
  font-family: 'Sansita Swashed', cursive;
} */

body > header > div > img{
  width: 200px;
  height: 200px;
}

body > header{
  background-color: rgb(216, 158, 255);
}
body > header > div > img{
  width: 300px;
}
#root > nav{
  background-color: rgb(255, 0, 85);
  border-bottom-left-radius:5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-around;

}
#Home > h1 > b{
  font-family: 'Nunito', sans-serif;
  color: rgb(255, 9, 70);
  background-color: white;
  text-align: center;
}
#root > nav > ul{
  display: flex;
  justify-content: space-around;
}

#root > nav > i.fas.fa-user-circle{
  display: flex;
  justify-content: end;
  color: white
}
