#root > nav > ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

#root > nav > ul > a:nth-child(1){
  display: block;
  color: white;
  font-family: 'Nunito', sans-serif;
}

#root > nav > ul > a:nth-child(2){
  display: block;
  color: white;
  font-family: 'Nunito', sans-serif;
}

#root > nav > ul > a:nth-child(3){
  display: block;
  color: white;
  font-family: 'Nunito', sans-serif;
}

#root > nav > ul > a:nth-child(4){
  display: block;
  color: white;
  font-family: 'Nunito', sans-serif;
}

#root > nav > ul > a:nth-child(5){
  display: block;
  color: white;
  font-family: 'Nunito', sans-serif;
}

#search{
  border-radius: 30px;
}

#root > nav > i.fas.fa-shopping-cart{
  color: white;
}

#root > img{
  width: 300px;
  height:200px;
}

#root > div{
  margin: 2px;
  border: 3px solid black;
  font-family: 'Sansita Swashed', cursive;
  color:rgb(255, 1, 77)
}

/* #root > header > h1{
  font-family: 'Sansita Swashed', cursive;
} */

body > header > div > img{
  width: 200px;
  height: 200px;
}

body > header{
  background-color: rgb(216, 158, 255);
}
body > header > div > img{
  width: 300px;
}
#root > nav{
  background-color: rgb(255, 0, 85);
  border-bottom-left-radius:5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-around;

}
body > div.Note{
  text-align: center;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  color: rgb(201, 0, 43);
}
#root > nav > ul{
  display: flex;
  justify-content: space-around;
}

#root > nav > i.fas.fa-user-circle{
  display: flex;
  justify-content: end;
  color: white
}
